

#landingPageParentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#landingHeaderParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding-top: 2rem;
}

#loginHeaderParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#loginFormParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#newLoginHeaderParentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#newLoginFormParentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  margin: 2rem;
}

#landingPageOrBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}
#loginBoxParentBox {
  border: 2px black solid;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

#loginHeader {
  font-weight: bold;
}

#landingPageOr {
  font-weight: bold;
}

#newLoginHeader {
  font-weight: bold;
}
#createLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  gap: 1rem;
}