#landingHeaderParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#loginHeaderParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#loginFormParentBox {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#newLoginHeaderParentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#newLoginFormParentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#landingPageOrBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}